div.SurveyFormItem {
   margin-bottom: 1rem;
}

span.SurveyLabel {
   font-weight: bold;
}

label.dnnBoxLabel {
   font-weight: normal;
}

table.dnnFormRadioButtons
{
   width: 40%;
}

span.SurveyHandle
{
   cursor: pointer;
}

div.dnnCheckBoxFormItemForFaxQuestion {
   /* PLEASE DO NOT CHANGE THIS IN ANY WAY! */
   visibility: hidden;
   display: none;
}

img.surveyImageLeft
{
   width: 32px;
   height: 32px;
   visibility: visible;
   display: inline-block;
}

div.surveyQuizResult
{
   font-size: 18px !important;
   font-weight: bold;
}

table.surveyResultsTable
{
   width: 98%;
   padding: 0;
   border: 0;
   font-size: 1.2em;
}

tr.surveyResultsGridHeader {
   vertical-align: top;
   padding: 0.5em;
   font-weight: bold;
}

tr.surveyGridItem {
   background-color: #ffffff;
}

tr.surveyGridAltItem {
   background-color: #f1f1f1;
}

td.surveyQuestionsRow {
   padding: 0.5em;
   width: 90%;
}

td.surveyVotesRow {
   text-align: right;
   padding: 0.5em;
   width: 10%;
}