div.SurveyFormItem {
   margin-bottom: 1rem;
}

span.SurveyLabel {
   font-weight: bold;
}

label.dnnBoxLabel {
   font-weight: normal;
}

table.dnnFormRadioButtons
{
   width: 40%;
}

span.SurveyHandle
{
   cursor: pointer;
}

div.dnnCheckBoxFormItemForFaxQuestion {
   /* PLEASE DO NOT CHANGE THIS IN ANY WAY! */
   visibility: hidden;
   display: none;
}